{% extends 'base.html.twig' %}
{% block title %}Mavillaz Rémi - Projets{% endblock %}
{% block project %} active {% endblock %}
{% block content %}
<h2 class="title-page">Projets</h2>
<div class="container-project">
	<div class="bloc-github">
		<h3 class="github-title">Activités sur Github!</h3>
		{% if githubActivities is empty %}
			Il n'y aucun évènement Github pour le moment.
		{% endif %}
		{% for githubActivity in githubActivities %}
			<div class="github-item">
				<img src={{ githubActivity.avatarUrl }}>
				{% if githubActivity.type == 'CreateEvent' %}
					{% if githubActivity.ref == 'master' %}
						Create new repo <a href="{{ 'https://github.com/' ~ githubActivity.name }}">{{ githubActivity.name}}</a>
					{% else %}
						Create new branch 
						<a href="{{ 'https://github.com/' ~  githubActivity.name ~ '/tree/' ~ githubActivity.ref }}" target="_blank">
							{{ githubActivity.ref }}
						</a>
						on <a href="{{ 'https://github.com/' ~ githubActivity.name }}">{{ githubActivity.name}}</a>
					{% endif %}
				{% elseif githubActivity.type == 'PushEvent' %}
					Pushed to 
					<a href="{{ 'https://github.com/' ~  githubActivity.name ~ '/tree/' ~ githubActivity.ref }}" target="_blank">
					</a> on 
					<a href="{{ 'https://github.com/' ~ githubActivity.name }}" target="_blank">{{ githubActivity.name }}</a>
					<p>
						<i class="fa fa-code-fork" aria-hidden="true"></i>
						<a href="{{ 'https://github.com/' ~  githubActivity.name ~ '/commit/' ~ githubActivity.commit }}" target="_blank">
							#{{ githubActivity.commit }}
						</a><span class="commit-message">:&nbsp; {{ githubActivity.message }}</span>
					</p>
				{% else  %}
					{% if githubActivity.pullRequestAction == 'opened' %}
						Opened a pull request 						
						<a href="{{ 'https://github.com/' ~  githubActivity.name ~ '/tree/' ~ githubActivity.ref }}" target="_blank">
							{{ githubActivity.ref }}
						</a> on <a href="{{ 'https://github.com/' ~ githubActivity.name }}">{{ githubActivity.name}}</a>
					{% else %}
						Merge branch						
						<a href="{{ 'https://github.com/' ~  githubActivity.name ~ '/tree/' ~ githubActivity.ref }}" target="_blank">
							{{ githubActivity.ref }}
						</a> on <a href="{{ 'https://github.com/' ~ githubActivity.name }}">{{ githubActivity.name}}</a>
					{% endif %}
				{% endif  %}
			</div>
		{% endfor %}
	</div>
	<section class="bloc-project">
	{% for project in projects %}
		<article class="project-item">
			<h3>{{ project.title }}</h3>
			<p>Développé en {{ project.date }} par {{ project.user }}</p>
			<div>
				{{ project.content|raw }}
			</div>
			<div class="project-link">
				<a target="_blank" href="{{ project.github}}">Voir sur Github</a>
				{% autoescape %}
					{% if project.url %}<a target="_blank" href="{{ project.url|raw}}">Voir le site</a>{% endif %}
				{% endautoescape %}
			</div>
		</article>
	{% endfor %}
	</section>
</div>

{% endblock %}