{% extends 'base.html.twig' %}
{% block title %}Mavillaz Rémi - Articles - Meetup{% endblock %}
{% block article %} active {% endblock %}
{% block content %}
<div class="container-article">
	<h2 class="title-page">Blog</h2>
	<p class="subtitle-page">Ici, je m'exprime sur mes différentes expèriences professionnelles. Ressentis, avis perso, conseils, tout y passe. </p>
	{% for article in articles %}
		<article itemscope="itemscope" itemtype="http://schema.org/Article">
			<div>
				<a href="{{ path('portfolio_article_show', {'slug': article.slug }) }}">
					<img alt="Image article" src="{{ asset('images/articles/' ~ article.img) }}" title="{{ article.title}}">
				</a>
			</div>
			<div>
				<h3 itemprop="headline"><a href="{{ path('portfolio_article_show', {'slug': article.slug }) }}">{{ article.title}}</a></h3>
				<p>
					Ecrit par <cite itemprop="author">Rémi Mavillaz</cite> en <time itemprop="datePublished">{{ article.date}}</time>
				</p>
				<p class="article-item-resume">
					<a href="{{ path('portfolio_article_show', {'slug': article.slug }) }}">{{ article.resume }}</a>
				</p> 
			</div>
		</article>
	{% endfor %}
</div>

{% endblock %}